[Desktop Entry]
Encoding=UTF-8
Name=Link to Mifare RFID-RC522讀寫器模組
Type=Link
URL=https://swf.com.tw/images/books/arduino/RFID/Mifare_RC522.png
Icon=image-png
